<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" class="form-post">
                <fieldset id="post">
                    <h2>Post</h2>
                    <div id="invalid-post" class="row" hidden>
                        <i>Unfortunately, an error occurred: </i>
                    </div>
                    <div class="form-group">
                        <input type="text" name="text" id="title" class="form-control input-lg" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea rows="10" name="text" id="text" class="form-control" placeholder="Place your post here.."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Attach a photo</label>
                        <input type="file" id="image">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="post-btn" class="btn btn-lg btn-success btn-block">Post</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
