<div class="row">
<div class="text-center btn-holder">
	<button type="button" class="btn btn-lg">View the demo</button>
   <button type="button" class="btn btn-lg">Sign up today!</button>
</div>
<div class="row wb-home">
	<div class="col-md-4">
		<h2>What We Offer</h2>		
		<p class="pull-right"><img src="img/home-1.png" class="img-responsive pull-left" alt="Responsive image">We believe in doing our part, and we are on a "mission to build healthier, safer families". In partnership with you, we are committed to making real change possible, and hope to inspire others to do the same. We hope you’ll join us by taking part in our community, sharing our educational efforts, or purchasing one of our products, to help fuel our efforts for even a deeper impact. We are serious about honesty – both as it applies to the integrity of our relationships and in being true to you. And, it's a standard we encourage throughout our staff, stakeholders, and customers.</p>
		<button type="button" class="btn btn-default btn-xs pull-right">Read more</button>
	</div>
	<div class="col-md-4">
		<h2>Who We Are</h2>		
		<p class="pull-right"><img src="img/img-3.png" class="img-responsive pull-left" alt="Responsive image">We like to dream big and we understand that even the smallest decisions can have big impacts - sometimes good, sometimes bad. We created The Honest Company to fulfill our big dreams, hoping we would make the right choices – following our hearts and consciences, with each detail and every decision – that would result in positive impacts (sounds kind of like parenting, right?).
Here are the standards we developed from that vision. Standards we regularly revisit and refine, because at our core we simply want to always try to be better.</p>
		<button type="button" class="btn btn-default btn-xs pull-right">Read more</button>
	</div>
	<div class="col-md-4">
		<h2>Our Mission</h2>		
		<p class="pull-right"><img src="img/img-2.jpg" class="img-responsive pull-left" alt="Responsive image">We are serious about honesty – both as it applies to the integrity of our relationships and in being true to you. And, it's a standard we encourage throughout our staff, stakeholders, and customers. But, that's just the beginning. In all we do, we want to make each day a little more fulfilling, inspired, and downright better. Your home sets the stage for your life. We design our products that add to the beauty of your surroundings (instead of things you want to hide in drawers and under sinks). We like to play with rich colors, whimsical details, modern shapes, and multi-cultural inspirations.</p>
		<button type="button" class="btn btn-default btn-xs pull-right">Read more</button>
	</div>
</div>
</div>
