<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" class="form-register">
                <fieldset id="register">
                    <h2>Register</h2>
                    <div id="invalid-register" class="row" hidden>
                        <i>Unfortunately, an error occurred: </i>
                    </div>
                    <div class="form-group">
                        <input type="text" name="text" id="register-username" class="form-control input-lg username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" name="text" id="nickname" class="form-control input-lg username" placeholder="Nickname">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="register-password" class="form-control input-lg password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="email" name="text" id="email" class="form-control input-lg username" placeholder="Email">
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 col-md-offset-3">
                            <button id="register-btn" class="btn btn-lg btn-success btn-block">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
